label.o_form_label.confidence-high:before {
    content: '\2713';
    color: green;
    font-size: larger;
    font-weight: bolder;
}
label.o_form_label.confidence-medium:before {
    content: '\26A0';
    color: orange;
    font-size: larger;
    font-weight: bolder;
}
label.o_form_label.confidence-low:before {
    content: '\26A0';
    color: red;
    font-size: larger;
    font-weight: bolder;
}
